<div *ngIf="empleado">
    <div class="modal-header">
      <h5 class="modal-title">Información del Empleado</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" [disabled]="isViewMode">
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" [disabled]="isViewMode">
      </div>
      <div class="mb-3">
        <label for="puesto" class="form-label">Puesto</label>
        <select class="form-control" id="puesto" [(ngModel)]="empleado.puesto" [disabled]="isViewMode">
          <option value="Gerente">Gerente</option>
          <option value="Vendedor">Vendedor</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="save()" *ngIf="!isViewMode">Guardar</button>
    </div>
  </div>